@model IEnumerable<WebStore.Models.Product>

<script>
    function confirmDelete(event, userId) {
        event.preventDefault();
        if (confirm("Bạn có chắc chắn muốn xóa người dùng này không?")) {
            document.getElementById("delete-form-" + userId).submit();
        }
    }
    </script>
<h1>Danh sách sản phẩm</h1>

<table>
    <div class="header">
        <h1>Danh Sách Người Dùng</h1>
        <button id="createUserBtn" class="btn btn-success">
            <a href="@Url.Action("CreatePro", "Product")">Create New User</a>

        </button>
    </div>
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Mô tả</th>
            <th>Giá</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.TEN</td>
                <td>@product.DES</td>
                <td>@product.PRICE</td>
                <td class="table-actions">
                    <a href="@Url.Action("ThongTinPro", "Product", new { id = product._id })" class="btn btn-primary">Chi Tiết</a>
                    <a href="@Url.Action("EditPro", "Product", new { id = product._id })" class="btn btn-warning">Chỉnh Sửa</a>
                    <form id="delete-form-@product._id" action="@Url.Action("DeletePro", "Product", new { id = product._id })" method="post" style="display:inline;">
                        <input type="hidden" name="_method" value="DELETE" />
                        <a href="#" onclick="confirmDelete(event, '@product._id')" class="btn btn-danger">Delete</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
