@using System.ComponentModel
@model IEnumerable<WebStore.Models.Oders>

@{
    ViewData["Title"] = "Danh sách đơn hàng";
}

<h1>@ViewData["Title"]</h1>


<style>
    .cutstring {
        max-width: 150px; /* Giới hạn chiều rộng của các ô */
        white-space: nowrap; /* Ngừng xuống dòng */
        overflow: hidden; /* Ẩn phần nội dung bị vượt quá */
        text-overflow: ellipsis; /* Hiển thị ba chấm */
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>Mã Đơn</th>
            <th>Ngày đặt</th>
            <th>Thành Tiền</th>
            <th>Trạng Thái</th>
            <th>Mã GIẢM GIÁ</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody id="ordersTable">
        @foreach (var order in Model)
        {
            <tr data-id="@order._id">
                <td class="cutstring">@order._id</td>
                <td class="cutstring">@order.ngayDat?.ToString("dd/MM/yyyy")</td>
                <td class="cutstring">@order.thanhTien?.ToString("C")</td>
                <td class="cutstring">@order.status?.ToString()</td>
                <td class="cutstring">@order.maKM</td>
                <td>
                    <form asp-action="#" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@order._id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i> Hủy Đơn hàng
                        </button>
                    </form>
                    <form asp-action="#" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@order._id" />
                        <button type="submit" class="btn btn-success btn-sm">
                            <i class="fas fa-undo"></i> Khôi phục
                        </button>
                    </form>
                    <form asp-action="#" method="get" style="display:inline;">
                        <input type="hidden" name="id" value="@order._id" />
                        <button type="submit" class="btn btn-success btn-sm">
                            <i class="fas fa-undo"></i> Chi Tiết
                        </button>
                    </form>
                    <form asp-action="EditOder" method="post">
                        <input type="hidden" name="_id" value="@order._id" />

                        <div class="form-group">
                            <label for="orderStatus">Trạng Thái</label>
                            <select name="status" id="orderStatus" class="form-control">
                                @foreach (var status in Enum.GetValues(typeof(WebStore.Models.Enum.OrderStatus)))
                                {
                                     <option value="@status" Model.status.ToString()>@status</option>
                                }
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success btn-sm">
                            Cập nhật 2
                        </button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>



 